<?xml version="1.0"?>
<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- <arg name="paused" value="true"/> -->
    <arg name="paused" value="false"/>
    <arg name="verbose" value="true"/>
    <arg name="world_name" value="$(find uuv_mating)/worlds/electrical_mating_dynamic.world"/>
    <!-- more default parameters can be changed here -->
  </include>
</launch>
