<?xml version="1.0" ?>
<model>
    <name>teledyne_whn_uuvsim</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Duane Davis</name>
        <email>dtdavi1@nps.edu</email>
    </author>
    <description>Teledyne Workhorse Navigator DVL compatible with the UUV Simulator DVL plugin</description>
</model>
