<?xml version="1.0"?>
<launch>
  <arg name="gui" default="true"/>
  <arg name="paused" default="false"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="false"/>
  <arg name="world_name" default="$(find dave_worlds)/worlds/dave_ocean_waves_dvl_current_profiling.world"/>

  <!-- use Gazebo's empty_world.launch with dave_ocean_waves_dvl_current_profiling.world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="extra_gazebo_args" value="-s libdsros_sensors.so"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="verbose" value="$(arg verbose)"/>
  </include>

  <!-- Load and spawn the model, starts the joint & state publishers, make the model move -->
  <param name="model_name" type="str" value="teledyne_whn_dsl"/>
  <param name="base_link_name" type="str" value="whn_base_link"/>
</launch>
