<?xml version="1.0"?>
<launch>
    <arg name="gui" default="true"/>
    <arg name="paused" default="false"/>
    <arg name="world_name" default="$(find dave_worlds)/worlds/dave_ocean_waves.world"/>
 
    <!-- use Gazebo's empty_world.launch with dave_ocean_waves.world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
        <arg name="verbose" value="false"/>
    </include>

    <!-- use ned frame north east down -->
    <include file="$(find uuv_assistants)/launch/publish_world_ned_frame.launch"/>

    <!-- rexrov robot with oberon7 arm and underwater lidar -->
    <include file="$(find rexrov_description)/launch/upload_rexrov_oberon7_sl3.launch">
        <arg name="namespace" value="rexrov"/>
        <arg name="x" value="4"/>
        <arg name="y" value="4"/>
        <arg name="z" value="-93"/>
        <arg name="yaw" value="-1.8"/>
    </include>

    <!-- Acceleration control -->
    <include file="$(find uuv_control_cascaded_pid)/launch/joy_velocity.launch">
        <arg name="uuv_name" value="rexrov" />
        <arg name="model_name" value="rexrov" />
    </include>

    <node name="spawn_grabbable_bar" pkg="gazebo_ros" type="spawn_model"
          args="-file $(find dave_object_models)/models/grab_bar/model.sdf -sdf -model grab_bar">
    </node>

    <!-- joint control for manipulator -->
    <include file="$(find oberon7_control)/launch/joint_control.launch">
        <arg name="uuv_name" value="rexrov"/>
    </include>

</launch>
