<?xml version="1.0"?>
<launch>
    <arg name="gui" default="true"/>
    <arg name="paused" default="false"/>
    <arg name="world_name" default="$(find dave_worlds)/worlds/dave_plug_and_socket_demo.world"/>
    <arg name="set_timeout" default="false"/>
    <arg name="timeout" default="0.0"/>
    <arg name="joy_id" default="0"/>
 
    <!-- use Gazebo's empty_world.launch with dave_ocean_waves.world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
        <arg name="verbose" value="true"/>
    </include>

    <include file="$(find uuv_assistants)/launch/publish_world_ned_frame.launch"/>

    <group if="$(arg set_timeout)">
        <include file="$(find uuv_assistants)/launch/set_simulation_timer.launch">
            <arg name="timeout" value="$(arg timeout)"/>
        </include>
    </group>

    <include file="$(find rexrov_description)/launch/upload_rexrov_oberon7.launch">
        <arg name="namespace" value="rexrov"/>
        <arg name="x" value="3.5"/>
        <arg name="y" value="2.5"/>
        <arg name="z" value="-96.5"/>
        <arg name="yaw" value="3.141592"/>
    </include>

    <include file="$(find uuv_control_cascaded_pid)/launch/joy_velocity.launch">
        <arg name="uuv_name" value="rexrov" />
        <arg name="model_name" value="rexrov" />
        <arg name="joy_id" value="$(arg joy_id)"/>
    </include>

    <include file="$(find oberon7_control)/launch/joint_control.launch">
        <arg name="uuv_name" value="rexrov"/>
    </include>

  <include file="$(find plug_and_socket_description)/launch/upload_socket_platform.launch"/>
  <node name="spawn_socket" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param socket_platform -model socket_platform -x 0 -y 0 -z -100 -Y -1.57079632679" respawn="false" output="screen" />

</launch>
