<?xml version="1.0"?>
<launch>
	<arg name="world_name" default="$(find dave_worlds)/worlds/dave_bimanual_example.world"/>
	<arg name="joy_id" default="0"/>
	<arg name="paused" default="false"/>
	<arg name="gui" default="true"/>
	<arg name="controller_type" default="effort"/>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(arg world_name)"/>
		<arg name="paused" value="$(arg paused)"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="gui" value="$(arg gui)"/>
		<arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
        <arg name="verbose" value="true"/>
	</include>

	<!-- use ned frame north east down -->
    <include file="$(find uuv_assistants)/launch/publish_world_ned_frame.launch"/>

    <!-- Upload URDF with correct transmission type -->
	<include file="$(find rexrov_description)/launch/upload_rexrov_oberon7_moveit.launch">
		<arg name="controller_type" value="$(arg controller_type)"/>
		<arg name="x" value="2.5"/>
		<arg name="y" value="0.5"/>
		<arg name="z" value="-97.5"/>
		<arg name="yaw" value="3.141592"/>
	</include>

	<!-- Load general controllers -->
	<include file="$(find oberon7_gazebo)/launch/controller_utils.launch"/>

	<rosparam file="$(find oberon7_gazebo)/controller/oberon7_controllers.yaml" command="load"/>

	<!-- Load chosen controller types -->
	<group if="$(eval controller_type == 'effort')">
		<node name="controllers_spawner" pkg="controller_manager" type="spawner" args="hand_effort_r hand_effort_l arm_effort_l arm_effort_r" respawn="false" output="screen"/> 
	</group>

	<group if="$(eval controller_type == 'position')">
		<node name="controllers_spawner" pkg="controller_manager" type="spawner" args="hand_position_r hand_position_l arm_position_l arm_position_r" respawn="false" output="screen"/> 
	</group>

    <include file="$(find uuv_control_cascaded_pid)/launch/joy_velocity.launch">
    	<arg name="uuv_name" value="rexrov" />
    	<arg name="model_name" value="rexrov" />
    	<arg name="joy_id" value="$(arg joy_id)"/>
    </include>
</launch>
