<?xml version="1.0"?>
<launch>

    <node name="gazebo" pkg="gazebo_ros" type="gazebo" args="$(find dave_worlds)/worlds/dave_bathymetry_demo.world --verbose -u -e ode -s libdsros_sensors.so" respawn="false" output="screen">
        <env name="GAZEBO_RESOURCE_PATH" value="$(optenv GAZEBO_RESOURCE_PATH):$(find dave_worlds)/media/"/>
        <env name="GAZEBO_MODEL_PATH" value="$(optenv GAZEBO_MODEL_PATH):$(find dave_worlds)/bathymetry/"/>
    </node>

    <!-- rexrov robot -->
    <!-- <group ns="rexrov"> -->
        <include file="$(find rexrov_description)/launch/upload_rexrov_oberon7_bathymetry.launch">
            <arg name="robot_name" value="rexrov"/>
            <arg name="init_pose" value="-x 485395.93 -y 58144.25 -z -1 -Y 3.14" />
        </include>
    <!-- </group> -->

    <!-- Velocity teleop (UUV stays in position when joystick is not used) -->
    <arg name="velocity_control" default="true"/>
    <include if="$(arg velocity_control)" file="$(find uuv_control_cascaded_pid)/launch/joy_velocity.launch">
        <arg name="uuv_name" value="rexrov" />
        <arg name="model_name" value="rexrov" />
    </include>

</launch>
