<?xml version="1.0"?>
<launch>

	<arg name="namespace" default="rexrov"/>
	<arg name="debug" default="false"/>

	<param name="robot_description" command="$(find xacro)/xacro '$(find rexrov_description)/urdf/rexrov_robot.urdf.xacro' inertial_reference_frame:=world"/>


	<node name="urdf_spawner" pkg="uuv_descriptions" type="spawn_model" respawn="false" output="screen" args="-urdf -z -20 -model $(arg namespace) -param robot_description"/>

<!-- 	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen">
    	<param name="robot_description" value="/$(arg namespace)/robot_description" />
    </node> -->

</launch>