<?xml version="1.0" ?>
<model>
    <name>teledyne_explorer1000</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Duane Davis</name>
        <email>dtdavi1@nps.edu</email>
    </author>
    <description>Teledyne Explorer 1000 model utilizing the WHOI DSL Gazebo environment DVL plugin</description>
</model>
