<?xml version='1.0'?>

<model>
  <name>electrical_panel</name>
  <version>1.0</version>
  <sdf >model.sdf</sdf>

  <author>
    <name>Duane Davis</name>
    <email>dtdavi1@gmail.com</email>
  </author>

  <description>
    Underwater electrical panel for use with plug and socket plugin
  </description>
</model>
