<robot xmlns:xacro="http://wiki.ros.org/xacro">
	<xacro:macro name="doc_ricketts_gazebo" params="namespace debug">
		<gazebo>
			<plugin name="uuv_plgin" filename="libuuv_underwater_object_ros_plugin.so">
				<!-- Hydro parameters for vehicle -->
				<fluid_density>1028.0</fluid_density>
				<flow_velocity_topic>hydrodynamics/current_velocity</flow_velocity_topic>
				<debug>${debug}</debug>

				<link name="$(arg namespace)/base_link">
       				<neutrally_buoyant>1</neutrally_buoyant>
       				<!-- See eNovus technical specifications -->
       				<volume>1.8382</volume> <!-- This is a guess (similar size to Smilodon but heavier) -->
       				<box>
         				<width>1.83</width>
         				<length>3.66</length>
         				<height>2.13</height>
       				</box>
       				<!-- Center of buoyancy is a guess, using same value as RexRov -->
       				<center_of_buoyancy>0.0 0.0 0.3</center_of_buoyancy>
       				<hydrodynamic_model>
         				<type>fossen</type>
         				<!-- Everything else in the model is pulled straight from Berg2012
              			(which means it's not even close for this vehicle) -->
         				<!-- Added mass: see p.28 in Berg2012 -->
         				<added_mass>
           					779.79 -6.8773 -103.32  8.5426 -165.54 -7.8033
           					-6.8773    1222   51.29  409.44 -5.8488  62.726
           					-103.32   51.29  3659.9  6.1112 -386.42  10.774
           					8.5426  409.44  6.1112   534.9 -10.027  21.019
           					-165.54 -5.8488 -386.42 -10.027  842.69 -1.1162
           					-7.8033  62.726  10.775  21.019 -1.1162  224.32
         				</added_mass>
         				<!-- Linear damping: see p.31 in Berg2012 -->
         				<linear_damping>
           					-74.82 -69.48 -728.4 -268.8 -309.77 -105
         				</linear_damping>
         				<!-- Non-linear damping: see p.30 in Berg2012 -->
         				<quadratic_damping>
           					-748.22 -992.53 -1821.01 -672 -774.44 -523.27
         				</quadratic_damping>
       				</hydrodynamic_model>
     			</link>
     		</plugin>
     	</gazebo>

     	<gazebo>
     		<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
     			<robotNamespace>${namespace}</robotNamespace>
     			<robotParam>${namespace}/doc_ricketts</robotParam>
     		</plugin>
     	</gazebo>

     	<!-- Default joint state publisher -->
     	<gazebo>
     		<plugin name="uuv_joint_state_publisher" filename="libuuv_joint_state_publisher.so">
     			<robotNamespace>${namespace}</robotNamespace>
     			<updateRate>50</updateRate>
     		</plugin>
     	</gazebo>
     </xacro:macro>
</robot>