<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="caldus"/>
  <arg name="debug" default="false"/>
     <param name="/$(arg namespace)/caldus"
            command="$(find xacro)/xacro '$(find caldus_description)/urdf/caldus.xacro'
		             debug:=$(arg debug)
                     namespace:=$(arg namespace)
                     inertial_reference_frame:=world" />
</launch>

