<?xml version="1.0"?>

<model>
  <name>Coke Can</name>
  <version>2.0</version>
  <sdf version="1.2">model-1_2.sdf</sdf>
  <sdf version="1.3">model-1_3.sdf</sdf>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>John Hsu</name>
    <email>hsu@osrfoundation.org</email>
  </author>

  <description>
    A can of Coke.

    Version 2.0:
    The mesh has been recentered and rescaled to real life size.
    An OBJ file has been added, and the COLLADA file replaced with a new one,
    to be able to open correctly in Blender 2.92.
  </description>
</model>
