<?xml version="1.0" ?>
<model>
    <name>nortek_dvl500_6000</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Duane Davis</name>
        <email>dtdavi1@nps.edu</email>
    </author>
    <description>Nortek DVL500-6000 model using the WHOI DSL Gazebo environment DVL plugin</description>
</model>
