<?xml version="1.0"?>

<model>
  <name>Santorini</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>M. Jakuba</name>
    <email>mjakuba@whoi.edu</email>
    <name>Woensug Choi</name>
    <email>woensug.choi@gmail.com</email>
  </author>

  <!-- <depend></depend> -->

  <description>
    Simplified topography/bathymetry in the region embedded in the model name. Coordinates are EPSG:3857(UTM).
    https://github.com/Field-Robotics-Lab/Bathymetry_Converter for https://github.com/Field-Robotics-Lab/dave
  </description>
</model>
