<?xml version="1.0"?>

<model>
  <name>ncei19.R_-70.750_-70.738_41.510_41.520</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>M. Jakuba</name>
    <email>mjakuba@whoi.edu</email>
  </author>

  <!-- <depend></depend> -->

  <description>
    Simplified topography/bathymetry in the region embedded in the model name.  Coordinates are EPSG:26987.
    Source: NOAA Office for Coastal Management
    https://coast.noaa.gov/htdata/raster2/elevation/NCEI_ninth_Topobathy_2014_8483/
  </description>
</model>
