<?xml version="1.0"?>

<model>
  <name>MontereyBay.R_-121.815_-121.805_36.800_36.810</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Woensug Choi</name>
    <email>woensug.choi@gmail.com</email>
  </author>

  <!-- <depend></depend> -->

  <description>
    Coordinates are in UTM
  </description>
</model>
