<launch>
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="-20"/>
  <arg name="yaw" default="0.0"/>
  <arg name="joy_id" default="0"/>
  <arg name="namespace" default="rexrov"/>

  <include file="$(find uuv_dave)/launch/upload_rexrov_oberon7.launch">
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="x" value="$(arg x)"/>
    <arg name="y" value="$(arg y)"/>
    <arg name="z" value="$(arg z)"/>
    <arg name="yaw" value="$(arg yaw)"/>
  </include>

  <include file="$(find uuv_control_cascaded_pid)/launch/joy_velocity.launch">
    <arg name="uuv_name" value="$(arg namespace)" />
    <arg name="model_name" value="rexrov" />
  </include>


  <include file="$(find oberon7_control)/launch/joint_control.launch">
    <arg name="uuv_name" value="$(arg namespace)"/>
  </include>

  

</launch>
