<?xml version='1.0'?>

<model>
  <name>mud_anchor</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
    <name>Jessica Herman</name>
    <email>jessica.herman@nps.edu</email>
  </author>

  <description>
    A grabbable object with a large surface area
  </description>
</model>
