<?xml version="1.0"?>

<model>
  <name>mbari_mars</name>
  <version>1.0</version>
  <sdf  version='1.6'>model.sdf</sdf>

  <author>
    <name>Brian Bingham</name>
    <email>briansbingham@gmail.com</email>
  </author>

  <description>
    MBARI MARS https://www.mbari.org/at-sea/cabled-observatory/
  </description>
</model>
