<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="sonardyne_syrinx600">

  <xacro:include filename="$(find sonardyne_syrinx600_uuvsim_description)/urdf/sonardyne_syrinx600.xacro"/>

  <link name="syrinx600_base_link"/>

  <link name="syrinx600_link">
    <inertial>
      <mass value="0.001"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.000000017" ixy="0" ixz="0" 
               iyy="0.000000017" iyz="0" izz="0.000000017"/>
    </inertial>
  </link>

  <joint name="syrinx600_base_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="syrinx600_base_link"/>
    <child link="syrinx600_link"/>
  </joint>

  <xacro:sonardyne_syrinx600_enu_macro namespace="syrinx600" parent_link="syrinx600_base_link">
    <origin xyz="0 0 0" rpy="0 ${0.5*pi} 0"/>
  </xacro:sonardyne_syrinx600_enu_macro>

  <!-- Turn gravity (off) for now so that the (unpowered) robot doesn't sink like
       a rock.  Can remove this once the neutral buoyancy issue (#4) is resolved -->
  <gazebo reference="syrinx600/dvl_sonar0_link">
    <turnGravityOff>true</turnGravityOff>
  </gazebo>
  <gazebo reference="syrinx600/dvl_sonar1_link">
    <turnGravityOff>true</turnGravityOff>
  </gazebo>
  <gazebo reference="syrinx600/dvl_sonar2_link">
    <turnGravityOff>true</turnGravityOff>
  </gazebo>
  <gazebo reference="syrinx600/dvl_sonar3_link">
    <turnGravityOff>true</turnGravityOff>
  </gazebo>
  <gazebo reference="syrinx600_link">
    <turnGravityOff>true</turnGravityOff>
  </gazebo>
  <gazebo reference="syrinx600/dvl_link">
    <turnGravityOff>true</turnGravityOff>
  </gazebo>
</robot>
