<?xml version='1.0'?>

<model>
  <name>f_to_m_receptacle</name>
  <version>1.0</version>
  <sdf >model.sdf</sdf>

  <author>
    <name>Duane Davis</name>
    <email>dtdavi1@nps.edu</email>
  </author>

  <description>
    Male receptacle for connection to a female electrical plug
  </description>
</model>
