<?xml version="1.0"?>
<!-- Copyright (c) 2016 The UUV Simulator Authors.
     All rights reserved.

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->

<robot name="rexrov" xmlns:xacro="http://www.ros.org/wiki/xacro" >

  <xacro:arg name="debug" default="0"/>
  <xacro:arg name="namespace" default="rexrov"/>
  <xacro:arg name="inertial_reference_frame" default="world"/>
  <!-- Include the ROV macro file -->
  <xacro:include filename="$(find uuv_dave)/urdf/rexrov_base.xacro"/>
  <xacro:include filename="$(find uuv_descriptions)/urdf/rexrov.gazebo.xacro"/>
  <xacro:include filename="$(find uuv_dave)/urdf/oberon7_default.xacro" />

  <!-- Create the ROV -->
  <xacro:rexrov_base
    namespace="$(arg namespace)"
    inertial_reference_frame="$(arg inertial_reference_frame)">
    <!-- The underwater object plugin is given as an input block parameter to
     allow the addition of external models of manipulator units -->
    <gazebo>
      <plugin name="dave_transient_current_plugin" filename="libdave_transient_current_plugin.so">
        <flow_velocity_topic>hydrodynamics/current_velocity/$(arg namespace)</flow_velocity_topic>
        <base_link_name>$(arg namespace)/base_link</base_link_name>
        <transient_current>
          <topic_stratified_database>stratified_current_velocity_database</topic_stratified_database>
          <velocity_north>
            <noiseAmp>0.3</noiseAmp>
            <noiseFreq>0.0</noiseFreq>
          </velocity_north>
          <velocity_east>
            <noiseAmp>0.3</noiseAmp>
            <noiseFreq>0.0</noiseFreq>
          </velocity_east>
          <velocity_down>
            <noiseAmp>0.3</noiseAmp>
            <noiseFreq>0.0</noiseFreq>
          </velocity_down>
        </transient_current>
        <tide_oscillation>true</tide_oscillation>
      </plugin>
      <plugin name="uuv_plugin" filename="libuuv_underwater_object_ros_plugin.so">
        <fluid_density>1028.0</fluid_density>
        <flow_velocity_topic>hydrodynamics/current_velocity/$(arg namespace)</flow_velocity_topic>
        <debug>$(arg debug)</debug>
        <!-- Adding the hydrodynamic and hydrostatic parameters for the vehicle-->
        <xacro:rexrov_hydro_model namespace="$(arg namespace)"/>
        <xacro:oberon7_hydro_model namespace="oberon7"/>
      </plugin>
    </gazebo>
  </xacro:rexrov_base>

  <!-- <xacro:oberon7 namespace="oberon7" parent="$(arg namespace)/base_link">
    <origin xyz="1.3 -0.5 -0.615" rpy="0 0 0"/>
  </xacro:oberon7> -->

  <!-- <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        <robotNamespace>/$(arg namespace)</robotNamespace>
        <robotParam>/$(arg namespace)/robot_description</robotParam>
      </plugin>
  </gazebo> -->


  <!-- Multibeam sonar (oculus_1200d) -->
  <xacro:include filename="$(find nps_uw_multibeam_sonar)/urdf/dave_multibeam_oculus_m1200d.xacro"/>
  <xacro:dave_multibeam_oculus_m1200d
    name="oculus_m1200d" xyz="0 0 0" rpy="0 0 0" joint_xyz="1.41 0 0.5" joint_rpy="0 0.4 0"
    robot_link="$(arg namespace)/base_link" ray_visual="true"
    update_rate="10.0" raySkips="0" plotScaler="10" sensorGain="0.1" maxDistance="10"
    constantReflectivity="true" reflectivityDatabaseFile=""/>

  <!-- Joint state publisher plugin -->
  <xacro:default_joint_state_publisher namespace="$(arg namespace)" update_rate="50"/>

</robot>
