<?xml version='1.0'?>

<model>
  <name>m_to_f_socket</name>
  <version>1.0</version>
  <sdf >model.sdf</sdf>

  <author>
    <name>Youssef Khaky</name>
    <email>khakyya@gmail.com</email>
  </author>

  <description>
    Female socket for connection to a male electrical plug
  </description>
</model>
